.auth-nav{
    background: var(--nav-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
    height: 60px;
    width: 100%;
}
.logos {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    margin-left: 10px;
}
.abars{
    display: none;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.dropdown-link{
    font-size: 15px;
    color: black;
}
.dropdown-link:hover{
    font-size: 15px;
    color: darkblue;
    text-decoration: underline;
}
.link-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 5px;
}
.dropdown{
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background: white;
    top: 50px;
    right: 0;
    border: 1px solid var(--nav-background);
    z-index: 10;
    border-radius: 5px;
}
.none{
    display: none;
}
.links{
    margin-right: 25px;
    color: white;
    font-size: 17px;
}
.image{
    width:35px;
    border-radius: 100%;
}
.links:hover{
    color: white;
    text-decoration: underline;
}
.ic{
    transition: all 1s ease;
}
.ic:hover{
   transform: scale(1.3);
}
.Adropdown-link{
    display: none;
    color: white;
}
.Adropdown-link:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .links{
        display: none;
    }
    .abars{
        display: block;
        padding-right: 10px;
    }
    .logos{
        font-size: 15px;
    }
    .shirt{
        width: 20px;
    }
    .circle{
        display: none;
    }
    .Adropdown-link{
        display: block;
    }
}