.home-body {
    background: var(--nav-background);
    align-items: center;
    justify-content: center;
}

/* Desktop styles */
.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.welcome-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    left: 10px;
}

.shop-now {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    transition: all 1.2s ease-out;
}

.shop-now:hover {
    background: rgb(206, 231, 255);
}

.large-text {
    font-weight: bolder;
    font-size: 70px;
}

.small-text {
    font-size: 25px;
    color: var(--label-color);
}

.img1 {
    width: 500px;
    border-radius: 10px;
}

.img2 {
    width: 470px;
    border-radius: 10px;
}

.about {
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}

.image-div {
    width: 50%;
}

.about-label {
    color: var(--label-color);
}

.about-header {
    font-size: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  /* Center the grid */
    color: var(--label-color);
    padding: 30px;
}

.footer-column {
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column-item {
    margin-bottom: 10px;
}

.about-text {
    font-size: 16px;
    color: var(--label-color);
}

.about-details {
    width: 50%;
    color: white;
    margin-top: 30px;
}

.details {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
}

/* Tablet styles */
@media (max-width: 1024px) {
    .welcome {
        padding-top: 70px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .welcome-text {
        width: 60%;
    }

    .large-text {
        font-size: 50px;
        padding-top: 20px;
    }

    .small-text {
        font-size: 20px;
    }

    .img1 {
        width: 400px;
    }

    .about {
        margin-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .about-header {
        font-size: 35px;
    }

    .img2 {
        width: 380px;
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .footer-column {
        width: auto;
        margin-bottom: 20px;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .welcome {
        flex-direction: column;
        padding-top: 50px;
    }

    .welcome-text {
        width: 100%;
        text-align: center;
    }

    .large-text {
        font-size: 35px;
        padding-top: 20px;
    }

    .small-text {
        font-size: 18px;
    }

    .img1 {
        width: 100%;
        margin-top: 20px;
    }

    .about {
        flex-direction: column;
        margin-top: 50px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .image-div, .about-details {
        width: 100%;
        text-align: center;
    }

    .about-header {
        font-size: 30px;
    }

    .img2 {
        width: 100%;
        display: none;
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer-column {
        width: auto;
        margin-bottom: 10px;
    }
}
